[submodule "curl"]
	path = lib/curl
	url = https://github.com/curl/curl
[submodule "openssl-cmake"]
	path = lib/openssl-cmake
	url = https://github.com/janbar/openssl-cmake
[submodule "lib/json"]
	path = lib/json
	url = https://github.com/nlohmann/json/
[submodule "lib/args-parser"]
	path = lib/args-parser
	url = https://github.com/igormironchik/args-parser
[submodule "lib/spdlog"]
	path = lib/spdlog
	url = https://github.com/gabime/spdlog/
